<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4"> <!-- class="col-lg-8 col-lg-offset-2 text-center" -->
                <form style="font-size:20px;">
                    <div id="sectionRadio">
                    </div>
                    <br/>

                    <div id="nameRadio">
                    </div>
                    <br/>

                    <div id="statusRadio">
                    </div>
                    <br/>

                    <div id="locationRadio">
                    </div>
                    <br/>

                    <div id="buttonDiv">
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
